
<link rel='stylesheet' href='/stylesheets/style_galeria.css' />


<body>
    <div class="contenedor">
        <div class="galeria">
            <div class="foto1">
                <img src="./images/imagen1.jpg" alt="Habitacion1" class="image" id="image">
            </div>

            <div class="foto2">
                <img src="./images/imagen2.jpg" alt="Habitacion2" class="image" id="image">
            </div>

            <div class="foto3">
                <img src="./images/imagen3.jpg" alt="Habitacion3" class="image" id="image">
            </div>

            <div class="foto4">
                <img src="./images/imagen1.jpg" alt="Habitacion1" class="image" id="image">
            </div>
            <div class="foto5">
                <img src="./images/imagen2.jpg" alt="Habitacion2" class="image" id="image">
            </div>

            <div class="foto6">
                <img src="./images/imagen3.jpg" alt="Habitacion3" class="image" id="image"> 
            </div>

            <div class="foto7">
                <img src="./images/imagen1.jpg" alt="Habitacion1" class="image" id="image">
            </div>

            <div class="foto8">
                <img src="./images/imagen2.jpg" alt="Habitacion2" class="image" id="image">
            </div>
        </div>
    </div>
</body>