<link rel='stylesheet' href='/stylesheets/style_servicios.css' />


<h2>Servicio de hospedaje en Pampa del Indio</h2>

<div class="servicios">
    <p>
        Hotel Anmatec se encuentra unbicado en el acceso a la localidad de Pampa del Indio,prov. Chaco. A 220Km de la
        ciudad de Resistencia, y solo 50Km del Parque Provincial Pampa del Indio.
        Cuenta con habitaciones amplias, equipadas con todo lo que usted necesita para sentirse como en su casa.
        Lo esperamos
    </p>
    <ul>
        <li>TV</li>
        <li>Baño Privado</li>
        <li>Internet</li>
        <li>Cocheras</li>
    </ul>