body {
    background-image: url("../images/frente.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:inherit;
    background-position: center;
    /*queda el fondo estatico*/
}

p{
    font-family:'Montserrat', sans-serif;
    color: white;
}